<a href="https://colab.research.google.com/github/rajatpal00/-ABTN0104--IPL-T20-Cricket-Analysis-/blob/main/Rajat_Kr_Pal_24_02_2021_%5BABTN0104%5D_IPL_T20_Cricket_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Indian Premier League(IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India(BCCI) in 2008. </b>

## <b> Explore and analyze the data to discover results and statistics for different teams playing in IPL. </b>

The IPL is the most-attended cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues. In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube. The brand value of the IPL in 2019 was â‚¹475 billion  to the GDP of the Indian economy.

On 13 September 2007, the BCCI announced the launch of a franchise-based Twenty20 cricket competition called Indian Premier League whose first season was slated to start in April 2008, in a "high-profile ceremony" in New Delhi. BCCI vice-president Lalit Modi, said to be the mastermind behind the idea of the IPL, spelled out the details of the tournament including its format, the prize money, franchise revenue system and squad composition rules. It was also revealed that the IPL would be run by a seven-man governing council composed of former India players and BCCI officials and that the top two teams of the IPL would qualify for that year's Champions League Twenty20. Modi also clarified that they had been working on the idea for two years and that the IPL was not started as a "knee-jerk reaction" to the ICL. The league's format was similar to that of the Premier League of England and the NBA in the United States.

In order to decide the owners for the new league, an auction was held on 24 January 2008 with the total base prices of the franchises costing around      4 million. At the end of the auction, the winning bidders were announced, as well as the cities the teams would be based in:  Hyderabad, Jaipur, KolkatMumbai. In the end, the franchises  were all sold for a total of  $723.59 million. The Indian Cricket League soon folded in 2008. (Scource - https://en.wikipedia.org/wiki/Indian_Premier_League)

Lets start this project by exploring the Data and extracting the usefull information from the dataset which we have

lets us import the data in the colabnotebook first

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

This is deliveries data set which give as information about each bowl which have been bowled in ipl so far,
lets explore some other datasets

In [ ]:
path = '/content/drive/MyDrive/AlmaBetter/capstone project/[ABTN0104] IPL T20 CRICKET/IPL DATA/'
deliveries_df = pd.read_csv(path + "deliveries.csv")

In [ ]:
deliveries_df.head(3)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN

[3 rows x 21 columns]

lets explore data in team

In [ ]:
matches_df = pd.read_csv(path + "matches.csv")
matches_df.head(5)

   id    Season       city  ...         umpire1        umpire2 umpire3
0   1  IPL-2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2  IPL-2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3  IPL-2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4  IPL-2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5  IPL-2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [ ]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

While exploring matches_df we came across that there are 4 null values for column winner
Lets find the rows first

In [ ]:
matches_df[matches_df["winner"].isna()]

        id    Season       city  ...          umpire1       umpire2         umpire3
300    301  IPL-2011      Delhi  ...        SS Hazare     RJ Tucker             NaN
545    546  IPL-2015  Bangalore  ...        JD Cloete     PG Pathak             NaN
570    571  IPL-2015  Bangalore  ...  HDPK Dharmasena  K Srinivasan             NaN
744  11340  IPL-2019  Bengaluru  ...      Nigel Llong  Ulhas Gandhe  Anil Chaudhary

[4 rows x 18 columns]

so from this we can conclude that on these day the match has no result that could be possible due to rain or any other failure.

In [ ]:
match_546=deliveries_df[deliveries_df['match_id'] == 546]

In [ ]:
match_546[match_546["inning"]==2]

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, non_striker, bowler, is_super_over, wide_runs, bye_runs, legbye_runs, noball_runs, penalty_runs, batsman_runs, extra_runs, total_runs, player_dismissed, dismissal_kind, fielder]
Index: []

Lets find out the team which have won the maxium matches so far

     id Season city date team1  ... player_of_match venue umpire1 umpire2  umpire3
0   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
1   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
2   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
3   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
4   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
..   ..    ...  ...  ...   ...  ...             ...   ...     ...     ...      ...
751 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
752 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
753 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
754 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
755 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN

[756 rows x 18 columns]