<a href="https://colab.research.google.com/github/rajatpal00/-ABTN0104--IPL-T20-Cricket-Analysis-/blob/main/Rajat_Kr_Pal_24_02_2021_%5BABTN0104%5D_IPL_T20_Cricket_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Indian Premier League(IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India. The league was founded by the Board of Control for Cricket in India(BCCI) in 2008. </b>

## <b> Explore and analyze the data to discover results and statistics for different teams playing in IPL. </b>

The IPL is the most-attended cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues. In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube. The brand value of the IPL in 2019 was â‚¹475 billion  to the GDP of the Indian economy.

On 13 September 2007, the BCCI announced the launch of a franchise-based Twenty20 cricket competition called Indian Premier League whose first season was slated to start in April 2008, in a "high-profile ceremony" in New Delhi. BCCI vice-president Lalit Modi, said to be the mastermind behind the idea of the IPL, spelled out the details of the tournament including its format, the prize money, franchise revenue system and squad composition rules. It was also revealed that the IPL would be run by a seven-man governing council composed of former India players and BCCI officials and that the top two teams of the IPL would qualify for that year's Champions League Twenty20. Modi also clarified that they had been working on the idea for two years and that the IPL was not started as a "knee-jerk reaction" to the ICL. The league's format was similar to that of the Premier League of England and the NBA in the United States.

In order to decide the owners for the new league, an auction was held on 24 January 2008 with the total base prices of the franchises costing around      4 million. At the end of the auction, the winning bidders were announced, as well as the cities the teams would be based in:  Hyderabad, Jaipur, KolkatMumbai. In the end, the franchises  were all sold for a total of  $723.59 million. The Indian Cricket League soon folded in 2008. (Scource - https://en.wikipedia.org/wiki/Indian_Premier_League)

Lets start this project by exploring the Data and extracting the usefull information from the dataset which we have

lets us import the data in the colabnotebook first

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

This is deliveries data set which give as information about each bowl which have been bowled in ipl so far,
lets explore some other datasets

In [4]:
path = '/content/drive/MyDrive/AlmaBetter/capstone project/[ABTN0104] IPL T20 CRICKET/IPL DATA/'
deliveries_df = pd.read_csv(path + "deliveries.csv")

In [5]:
deliveries_df.head(3)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN

[3 rows x 21 columns]

In [6]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

lets explore data in team

In [7]:
matches_df = pd.read_csv(path + "matches.csv")
matches_df.head(5)

   id    Season       city  ...         umpire1        umpire2 umpire3
0   1  IPL-2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2  IPL-2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3  IPL-2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4  IPL-2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5  IPL-2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [8]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

While exploring matches_df we came across that there are 4 null values for column winner
Lets find the rows first

In [ ]:
matches_df[matches_df["winner"].isna()]

        id    Season       city  ...          umpire1       umpire2         umpire3
300    301  IPL-2011      Delhi  ...        SS Hazare     RJ Tucker             NaN
545    546  IPL-2015  Bangalore  ...        JD Cloete     PG Pathak             NaN
570    571  IPL-2015  Bangalore  ...  HDPK Dharmasena  K Srinivasan             NaN
744  11340  IPL-2019  Bengaluru  ...      Nigel Llong  Ulhas Gandhe  Anil Chaudhary

[4 rows x 18 columns]

so from this we can conclude that on these day the match has no result that could be possible due to rain or any other failure.

lets start by finding out the team which have won max number of matches in ipl so far

In [24]:
team_by_win = pd.DataFrame(matches_df['winner'].value_counts())
team_by_win.reset_index(inplace= True)
team_by_win.rename(columns ={"index":"Team Name","winner":"matches_Won"},inplace =True)
team_by_win.style.background_gradient(cmap="PuBu")

ohh so its look like mumbai indian is the team which have won max number of matches

**Now have a look at which team have got maximun number of orange cap holder**

let us start by making a neww dataframe with only two columns of matches dataframe which can be merged with deliveries data frame

In [31]:
new_match_df = matches_df[["id",'Season']]
new_match_df

        id    Season
0        1  IPL-2017
1        2  IPL-2017
2        3  IPL-2017
3        4  IPL-2017
4        5  IPL-2017
..     ...       ...
751  11347  IPL-2019
752  11412  IPL-2019
753  11413  IPL-2019
754  11414  IPL-2019
755  11415  IPL-2019

[756 rows x 2 columns]

This merge operation is performed on the match id column od deliveries dataframe and id column of new_matches_df dataframe

In [33]:
new_deliveries_df = pd.merge(deliveries_df,new_match_df , left_on= "match_id",right_on ="id")

In [34]:
new_deliveries_df

        match_id  inning         batting_team  ...    fielder     id    Season
0              1       1  Sunrisers Hyderabad  ...        NaN      1  IPL-2017
1              1       1  Sunrisers Hyderabad  ...        NaN      1  IPL-2017
2              1       1  Sunrisers Hyderabad  ...        NaN      1  IPL-2017
3              1       1  Sunrisers Hyderabad  ...        NaN      1  IPL-2017
4              1       1  Sunrisers Hyderabad  ...        NaN      1  IPL-2017
...          ...     ...                  ...  ...        ...    ...       ...
179073     11415       2  Chennai Super Kings  ...        NaN  11415  IPL-2019
179074     11415       2  Chennai Super Kings  ...        NaN  11415  IPL-2019
179075     11415       2  Chennai Super Kings  ...  KH Pandya  11415  IPL-2019
179076     11415       2  Chennai Super Kings  ...        NaN  11415  IPL-2019
179077     11415       2  Chennai Super Kings  ...        NaN  11415  IPL-2019

[179078 rows x 23 columns]

In [35]:
new_deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179078 entries, 0 to 179077
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
 21  id                179078 non-null  int64
 22  Season            179078 non-null  object
dtypes: int64(14), object(9)
memory usage: 32.8+ MB

Now we can use group by function get deliveries bowled in each ipl season

In [36]:
ipl_season = new_deliveries_df.groupby("Season")

Lets make a Function which takes ipl season as argument and return orange cap holder of that Seasonr

In [53]:
def get_orange_cap(season):
  season = season.upper()
  s= ipl_season.get_group(season)
  max_runs = s.groupby(["batsman"])["batsman_runs"].sum().sort_values(ascending =False)
  # print(max_runs)
  print(max_runs.iloc[0])

In [54]:
get_orange_cap("IPL-2017")

641

In [27]:
 m=matches_df.groupby("Season")

In [28]:
m.get_group("IPL-2016")

      id    Season  ...          umpire2 umpire3
576  577  IPL-2016  ...        CK Nandan     NaN
577  578  IPL-2016  ...    C Shamshuddin     NaN
578  579  IPL-2016  ...      VA Kulkarni     NaN
579  580  IPL-2016  ...        VK Sharma     NaN
580  581  IPL-2016  ...           S Ravi     NaN
581  582  IPL-2016  ...        CK Nandan     NaN
582  583  IPL-2016  ...    C Shamshuddin     NaN
583  584  IPL-2016  ...        CK Nandan     NaN
584  585  IPL-2016  ...        VK Sharma     NaN
585  586  IPL-2016  ...    C Shamshuddin     NaN
586  587  IPL-2016  ...   A Nand Kishore     NaN
587  588  IPL-2016  ...        VK Sharma     NaN
588  589  IPL-2016  ...    C Shamshuddin     NaN
589  590  IPL-2016  ...        CK Nandan     NaN
590  591  IPL-2016  ...  HDPK Dharmasena     NaN
591  592  IPL-2016  ...        VK Sharma     NaN
592  593  IPL-2016  ...    C Shamshuddin     NaN
593  594  IPL-2016  ...        CK Nandan     NaN
594  595  IPL-2016  ...     BNJ Oxenford     NaN
595  596  IPL-2016  ...   A Nand Kishore     NaN
596  597  IPL-2016  ...        RJ Tucker     NaN
597  598  IPL-2016  ...        CK Nandan     NaN
598  599  IPL-2016  ...           S Ravi     NaN
599  600  IPL-2016  ...        RJ Tucker     NaN
600  601  IPL-2016  ...     BNJ Oxenford     NaN
601  602  IPL-2016  ...        M Erasmus     NaN
602  603  IPL-2016  ...  HDPK Dharmasena     NaN
603  604  IPL-2016  ...        VK Sharma     NaN
604  605  IPL-2016  ...        RJ Tucker     NaN
605  606  IPL-2016  ...           S Ravi     NaN
606  607  IPL-2016  ...     BNJ Oxenford     NaN
607  608  IPL-2016  ...  HDPK Dharmasena     NaN
608  609  IPL-2016  ...        RJ Tucker     NaN
609  610  IPL-2016  ...           S Ravi     NaN
610  611  IPL-2016  ...     BNJ Oxenford     NaN
611  612  IPL-2016  ...        CK Nandan     NaN
612  613  IPL-2016  ...    C Shamshuddin     NaN
613  614  IPL-2016  ...        RJ Tucker     NaN
614  615  IPL-2016  ...  HDPK Dharmasena     NaN
615  616  IPL-2016  ...        VK Sharma     NaN
616  617  IPL-2016  ...    C Shamshuddin     NaN
617  618  IPL-2016  ...        M Erasmus     NaN
618  619  IPL-2016  ...        CK Nandan     NaN
619  620  IPL-2016  ...        VK Sharma     NaN
620  621  IPL-2016  ...     BNJ Oxenford     NaN
621  622  IPL-2016  ...        M Erasmus     NaN
622  623  IPL-2016  ...        CK Nandan     NaN
623  624  IPL-2016  ...   A Nand Kishore     NaN
624  625  IPL-2016  ...    C Shamshuddin     NaN
625  626  IPL-2016  ...        M Erasmus     NaN
626  627  IPL-2016  ...        CK Nandan     NaN
627  628  IPL-2016  ...     BNJ Oxenford     NaN
628  629  IPL-2016  ...      Nitin Menon     NaN
629  630  IPL-2016  ...        CK Nandan     NaN
630  631  IPL-2016  ...        M Erasmus     NaN
631  632  IPL-2016  ...     BNJ Oxenford     NaN
632  633  IPL-2016  ...  HDPK Dharmasena     NaN
633  634  IPL-2016  ...    C Shamshuddin     NaN
634  635  IPL-2016  ...        CK Nandan     NaN
635  636  IPL-2016  ...     BNJ Oxenford     NaN

[60 rows x 18 columns]

Lets find out the team which have won the maxium matches so far

     id Season city date team1  ... player_of_match venue umpire1 umpire2  umpire3
0   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
1   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
2   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
3   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
4   NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
..   ..    ...  ...  ...   ...  ...             ...   ...     ...     ...      ...
751 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
752 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
753 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
754 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN
755 NaN    NaN  NaN  NaN   NaN  ...             NaN   NaN     NaN     NaN      NaN

[756 rows x 18 columns]